<!DOCTYPE html>
<html lang="{% if page.categories %}{{page.categories}}{% else %}pt-br{% endif %}">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

    <script>
        window.onload = function() {
            var list = document.getElementsByTagName('a');
            for (index in list) {
                var address = list[index].href;
                if ( ! address.match(/diegosouza\.github\.io/) ) {
                    list[index].setAttribute('target', '_blank');
                }
            }
        }
    </script>

  </body>


</html>
